.additional-products__container {
  outline: 2px dashed #000aff;
  margin: 0;
  padding: 28px 20px 26px 20px;
}

.additional-products__title {
  font-size: 24px;
  line-height: 24px;
}

.additional-products__item {
  outline: 2px dashed #ff1493;
}
