.additional-products__container {
  //outline: 2px dashed $blue;
  padding: 28px 20px 26px 20px;
}

.additional-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.additional-products__list {
  display: grid;
  grid-template-columns: 280px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 708px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 896px;
  }

  list-style: none;
  margin: 0;
  padding: 0;
}

.additional-products__item {
  outline: 2px dashed $blue;
}
