.page-header {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__container {
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline: 2px dashed $red;
  margin: 0 20px 0 20px;
}

.page-header__logo {
  outline: 2px dotted $pink;
}

.main-nav {
  outline: 2px dashed $green;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.main-nav__list li {
  height: 66px;
  outline: 2px dashed $blue;
}

.main-nav__list a {
  color: $dark;
}

.main-nav__toggler {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
