.page-header {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__container {
  //height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
  //padding-left: 20px;
  //padding-right: 20px;
  //outline: 2px dashed $red;
  //margin: 0 20px 0 20px;
  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
    padding-top: 33px;
  }
}

.page-header__logo img {
  //outline: 2px dotted $pink;
  width: 33px;
  height: 38px;
  margin-right: 75px;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }
}

.main-nav {
  //outline: 2px dashed $green;
  position: relative;
  //width: auto;
  //min-height: 66px;
  //font-size: 20px;
  //line-height: 20px;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.main-nav__list li {
  //height: 66px;
  //outline: 2px dashed $blue;
}

.main-nav__list a {
  color: $dark;
  position: relative;
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
  }
}

.main-nav__item {
  @media (min-width: $tablet-width) {
    margin-right: 33px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__toggler {
  position: absolute;
  top: -45px;
  right: 0;
  z-index: 2;
  display: block;
  width: 24px;
  height: 18px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggler::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;

  @media (max-width: 767px) {
    .main-nav--closed {
      display: none;
    }
  }
}

.main-nav--opened .main-nav__toggler {
  top: 0;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -50px;
    right: 15px;
    width: 2px;
    height: 30px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: $red;
  }
}

.main-nav--nojs .main-nav__toggler {
  display: none;
}

.main-nav--nojs .main-nav__container {
  position: static;
  min-height: 0;
}

.main-nav--nojs .main-nav__item {
  display: block;
}
