.products__container {
  outline: 2px dashed lime;
  margin: 0;
  padding: 0 20px 0 20px;
}

.products__title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 49px;
}

.products-list {
  list-style: none;
}

.products-item {
  outline: 2px dashed blue;
}

.
