.products__container {
  outline: 3px dashed $green;
  padding: 0;
}

.products__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 49px;
}

.products-list {
  display: grid;
  grid-template-columns: 280px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 342px;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
    row-gap: 63px;
  }

  list-style: none;
  margin: 0;
  padding: 0;
}

.products-item {
  outline: 3px solid $red;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
  }
}
